@tailwind base;
@tailwind components;
@tailwind utilities;
@import './business-color.css';

* {
  box-sizing: border-box;
}

html {
  @apply text-[#757693];
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #27326f;
}

.overflow-strategies::-webkit-scrollbar {
  width: 0;
}
.bg-care-fade {
  background: radial-gradient(70.87% 56.61% at 50% 50%, rgba(81, 107, 148, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.bg-aboutUs-fade {
  background: linear-gradient(180deg, rgba(230, 234, 239, 0.2) 50%, rgba(230, 234, 239, 0.2) 100%),
    linear-gradient(180deg, #e6eaef 0%, rgba(230, 234, 239, 0) 50%);
}

.bgDefaultInforCard {
  background-color: #fff;
  color: #000;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
.bgHoverInforCard {
  background: linear-gradient(146.05deg, #1b3864 0%, #e6eaef 100%);
  color: #fff;
}

.border-card-aboutUs {
  border-right: 2px solid transparent;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #516b94, rgba(0, 0, 0, 0)) 1 100%;
}
